*{
    margin: 0;
    padding: 0;
}

body{
    /*#region pattern de fondo */ 
    --sz: 24px;
	--c1: #4b2889;
	--c2: #673ab7;
	--c3: #401c81;
	--c4: #2d125d;
	--ts: 50% / calc(var(--sz) * 10) calc(var(--sz) * 10);
	--pz: calc(var(--sz) * 0.65), #fff0 calc((var(--sz) * 0.65) + 1px);
	height: 100vh;
	background: radial-gradient(circle at 53% 25%, var(--c4) var(--pz)) var(--ts),
		radial-gradient(circle at 75% 47%, var(--c2) var(--pz)) var(--ts),
		radial-gradient(circle at 3% 75%, var(--c2) var(--pz)) var(--ts),
		radial-gradient(circle at 25% 53%, var(--c4) var(--pz)) var(--ts),
		radial-gradient(circle at 53% 75%, var(--c3) var(--pz)) var(--ts),
		radial-gradient(circle at 75% 97%, var(--c1) var(--pz)) var(--ts),
		radial-gradient(circle at 3% 25%, var(--c1) var(--pz)) var(--ts),
		radial-gradient(circle at 25% 3%, var(--c3) var(--pz)) var(--ts),
		conic-gradient(
				from 0deg at 50% 50%,
				var(--c1) 0 25%,
				var(--c2) 0 50%,
				var(--c3) 0 75%,
				var(--c4) 0 100%
			)
			var(--ts);
      /*#endregion */
    font-family: 'manjari', sans-serif;

}

.menu{
    display: flexbox;     
    
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    background-color: #294f6b;
    align-items: center;
    justify-content: center;
    color: #DAFDBA;
}
.carousel-inner {
    display: flex;
     max-width: 1100px;
     align-items: center;
     margin: auto;
      
    ;
}
.container > .section h2,
.container > .section p {
    
    text-align: center;   
 
}

.container > .section {
    grid-column: 1/6;    
    width: 100%;
    grid-column: 1/6;
    max-width: 1100px;
    width: 90%;
    
}


.title h1 {
    padding: 10px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
    color: #fff;

}
.title p{
    margin-bottom: -5;
    padding: 2px 0;
    text-align: center;
    font-size: 1.0m;
    text-transform: uppercase;
    color: #DAFDBA;

}
.container{
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}


.container > .content,
.container > .sidebar,
.container > div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000;
}

.content > article{
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.container > .footer {
    grid-column: 1/6;
    background: #294f6b;
    color: #fff;
    width: 100%;
    padding: 1;
    ba
}

.container > .related-post {
    grid-row: 1/6;
     background: #2d3436;
     color:#ffff;
     height: 180px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 0.5s ease;
}

/*iconos footer*/
  .linkedin-icon {
    color: #0a66c2; /* Color oficial de LinkedIn */
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease;
  }
  
  .linkedin-icon:hover {
    transform: scale(1.2);
    color: #004182; /* Color más oscuro al hover */
  }
  
  .linkedin-icon i {
    font-size: 1.5rem; /* Tamaño del icono */
  }

    .email-icon {
    color: #f3ebeb; /* Rojo característico de Gmail */
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .email-icon:hover {
    color: #c5221f; /* Rojo más oscuro */
    transform: scale(1.2);
  }
  
  .email-icon i {
    font-size: 1.5rem;
  }
